* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  background-color: #3b3b3b;
}

.main-container {
  width: 100%;
}
/*------------------ HEADER ------------------*/
.header {
  width: 100%;
  height: 75vh;
  display: flex;
  background-image: url("images/imagen-banner3.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.header-sides {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100%;
  position: relative;
}

.header-sides > .left-side {
  width: 80%;
  min-height: 100%;
  background-color: rgba(255, 150, 110, 0.5);
  padding: 5% 0 10% 9%;
}

.header-sides > .left-side > h1 {
  color: white;
  font-family: RobotoExtra-bold;
  font-weight: bold;
  font-size: 600%;
}

.header-sides > .left-side > h2 {
  background-color: black;
  font-family: Roboto;
  font-weight: normal;
  color: white;
  font-size: 150%;
  min-height: 20%;
  max-width: 67%;
  text-align: center;
  padding-top: 1.3%;
}

.header-sides > .right-side {
  position: absolute;
  left: 66%;
  top: 6%;
  width: 28%;
  min-height: 100%;
}

.right-side > img {
  width: 100%;
  height: 100%;
}
